<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    />
    <title>Estacionamiento Medido por Celulares</title>

        <link rel="stylesheet" type="text/css" media="screen" href="../css/view.css" />

        <link rel="stylesheet" href="../js/leaflet/leaflet.css" />
        <script src="../js/leaflet/leaflet.js"></script>
        <script src="../js/view.js"></script>

        <link rel="stylesheet" href="../js/leaflet/MarkerCluster.css" />
        <link rel="stylesheet" href="../js/leaflet/MarkerCluster.Default.css" />
        <script src="../js/leaflet/leaflet.markercluster-src.js"></script>
  </head>



  <div id="mapid"></div>
  <div id="content">
    </div>
  </body>

</html>
