<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    />
    <title>Estacionamiento Medido por Celulares</title>

        <link rel="stylesheet" type="text/css" media="screen" href="../css/mapa.css" />

        <link rel="stylesheet" href="../js/leaflet/leaflet.css" />
        <script src="../js/leaflet/leaflet.js"></script>
        <script src="../js/mapa.js"></script>

        <link rel="stylesheet" href="../js/leaflet/MarkerCluster.css" />
        <link rel="stylesheet" href="../js/leaflet/MarkerCluster.Default.css" />
        <script src="../js/leaflet/leaflet.markercluster-src.js"></script>
    		<script type="text/javascript" src="js/menuMap.js"></script>
  </head>



  <div id="mapid"></div>

    <!--menu-->
    <div id="menuMap">
      <ul>
        <li id="menuMap1">Puntos de Venta</li>
        <li id="menuMap2">Lugares Disponibles</li>
        <li id="menuMap3">Mis Vehículos</li>
      </ul>
    </div>
    <!--menu-->
  </body>

</html>
